@model List<SitesChecker.App.Models.SiteViewModel>

<!DOCTYPE html>

<html>
<head>
    <br />
    <br />

    <br />
    <br />
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>URL</th>
                <th>Доступен No</th>
            </tr>
        </thead>

        <tbody class="tbody"></tbody>
    </table>

    <table>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Url</td>
                    <td>
                        <input type="checkbox" asp-for="@item.IsAvailable" />
                    </td>
                    <td>
                        <button class="btn btn-info" type="button" id="addressSearch"
                                onclick="location.href = '@Url.Action("UpdateSite", "Admin")'">
                            Изменить
                        </button>
                        <button class="btn btn-info" type="button" id="addressSearch"
                                onclick="location.href = '@Url.Action("RemoveSite", "Admin")'">
                            Удалить
                        </button>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</head>
<body>
    <div>
    </div>
</body>
</html>